<form action="/addresser" name="retail-addresser" id="retail-addresser">
	<input type="text" placeholder="Input retailers" id="addresser-form-retailers">
	<input type="text" placeholder="City" id="addresser-form-city">
	<input type="text" placeholder="Radius" id="addresser-form-radius">
	<input type="submit" value="Submit">
</form>

<p id="results-title"></p>

<table id="remove-link-table" >
	<thead>
		<tr>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<table id="results-table" border="1" style="border-collapse:collapse; float:left;">
	<thead style="border-bottom:solid 3px;">
		<tr>
			<th>Name</th>
			<th>Chain</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<div id="remove-buttons" style="margin-top:25px; float:left;">
</div>

<div id="map-canvas" style="height: 400px; clear:both;"></div>