<h1>Edit query_result</h1>

<form id="edit-query_result" name="query_result">
  <div class="actions">
    <input type="submit" value="Update Query results" />
  </div>

</form>

<a href="#/index">Back</a>