<h1>New Query</h1>

<div id="target">
	<form id="new-query" name="query">
	  <div class="actions">
	  	<label name="stores" for="stores">Stores</label>
	  	<input id="stores" type="text" name="stores"/>
	  	<label name="city" for="city">City</label>
	  	<input id="city" type="text" name="city" />
	  	<label name="radius" for="radius">Radius</label>
	  	<input id="radius" type="text" name="radius"/>
	    <input type="submit" value="Search"/>
	  </div>

	</form>
</div>


