<table id="results-table" border="1" style="border-collapse:collapse; float:left;">
	<thead style="border-bottom:solid 3px;">
		<tr>
			<th>Name</th>
			<th>Chain</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<% for (i = 0; i < results.models; i++) { %>
			<%= console.log(i) %>
		<% } %>

	</tbody>
</table>