<table id="results-table" border="1" style="border-collapse:collapse; float:left;">
	<thead style="border-bottom:solid 3px;">
		<tr>
			<th>Name</th>
			<th>Chain</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<% for (i = 0; i < results.models.length; i ++) { %>
			<tr><td><%= results.models[i].get('name') %></td><td><%= results.models[i].get('store_name') %></td><td><%= results.models[i].get('vicinity') %></td><td><a href="#" class="remove" data-entry="<%= i %>">Remove</a></td></tr>
		<% } %>
	</tbody>
</table>

<% if (results.models.length) { %>
	<button name="get-map" value="get-map" id="get-map">Get Map</button>
	<button name="get-excel" value="get-excel" id="get-excel">Get Excel Spreadsheet</button>
<% } %>