<% if (SrgUtilities.session.authenticated()) { %>
<div>
	<ul>
		<li><a href="/query/new">New Query</a></li>
		<li><a href="/query/index">Previous Queries</a></li>
		<li>Item 3</li>
	</ul>
</div>
<% } %>

<%= console.log("header auth: " + SrgUtilities.session.authenticated()) %>