<% if (SrgUtilities.session.authenticated()) { %>
<div id="sidebar">
	<div id="sidebar-container">
		<ul id="sidebar-buttons">
			<li class="sidebar-button"><a href="/query/new">New Query</a></li>
			<li class="sidebar-button"><a href="/query/all">Previous Queries</a></li>
			<li class="sidebar-button"><a href="#">Item 3</a></li>
		</ul>
	</div>
</div>
<% } %>

<%= console.log("header auth: " + SrgUtilities.session.authenticated()) %>