/*CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//mixins

@mixin main-font {
	font-family: 'Merriweather Sans', sans-serif;
}

@mixin quick-transition {
	-webkit-transition: all 0.3s;
}

// SRG Utilities Style
#app-header {
	width: 100%;
	height: 60px;
	background-color: #3498db;
	z-index: 1000;
	box-shadow: 0px 0px 8px #000;
	position: relative;
}

#header-buffer {
	width: 1100px;
	margin: 0 auto;
}

#app-container {
	width: 100%;
	background-color: white;
	overflow: auto;
	height: 1000px;
}

body {
	@include main-font;
}

#app-target {
	// overflow: auto;
	width: 100%;
	margin: 0 auto;
	// border: solid thin;
	position: relative;
	z-index: 0;
	height: 520px;
}

#app-target div {
	// margin-top: 80px;
}

#map-canvas {
	height: 600px;
	clear: both;
}

#login-page {
	width: 1000px;
	margin: 20px auto;
	position: relative;
}

.title {
	font-size: 3em;
	line-height: 60px;
}

h2.title {
	float: left;
}

.btn {
	padding: 15px;
	border-radius: 4px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #389DF0),
	color-stop(0.66, #52A6FF)
	);
	background-image: -o-linear-gradient(bottom, #389DF0 0%, #52A6FF 66%);
	background-image: -moz-linear-gradient(bottom, #389DF0 0%, #52A6FF 66%);
	background-image: -webkit-linear-gradient(bottom, #389DF0 0%, #52A6FF 66%);
	background-image: -ms-linear-gradient(bottom, #389DF0 0%, #52A6FF 66%);
	background-image: linear-gradient(to bottom, #389DF0 0%, #52A6FF 66%);
	color: white;
	text-decoration: none;
	float: right;
	font-size: 2em;
}

h1.title {
	color: white;
}

#sidebar {
	height: 100%;
	width: 100%;
	background-color: #e74c3c;
	overflow: auto;
	float: left;
	@include quick-transition;
}

.sidebar-button:hover {
	background-color: #2c3e50;
}

.sidebar-minimized {
	width: 230px !Important;
}

#sidebar-container {
	width: 100%;
}

#sidebar-buttons {
	width: 100%;
}

.sidebar-button {
	width: 100%;
	border-bottom: solid thin white;
	padding: 20px;
	font-size: 1.5em;
	@include quick-transition;
}

.sidebar-button a {
	color: white;
	text-decoration: none;
}