<%= JST['backbone/templates/app/sidebar']() %>
<div id="load-target" class="active">
<% if (!SrgUtilities.session.authenticated()) { %>
	<h2 class="title">Please Log In</h2>
	<span><a href="/login" class="btn">login</a></span>
<% } %>
</div>