<form id="login-form">
<label>Email</label>
<input type="text" name="email" id="email"></input>
<label>Password</label>
<input type="password" name="password" id="password"></input>
<button type="submit" name="login" id="login">Login</button>
</form>