<!DOCTYPE html>
<html>
<head>
  <title>SrgUtilities</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_VZ2DhyjIBFHnw5wIbxp4nEQ93PQRO0M&sensor=false"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
